---
---


.content { padding-top: 60px;}

/* GRADIENTS */

@mixin gradient($from, $to) {
    background-color: $to;
    background-image: -webkit-gradient(linear, left bottom, right top, from($from), to($to));
    background-image: -webkit-linear-gradient($from, $to);
    background-image: -moz-linear-gradient($from, $to);
    background-image: -o-linear-gradient($from, $to);
    background-image: -ms-linear-gradient($from, $to);
    background-image: linear-gradient(to top right, $from 0%, $to 80%);
}

.page-section.intro {
      @include gradient(#009091, #009ddc);
}

.page-section#program1 {
      @include gradient(#009ddc, #bf1e2e);
}

.page-section#program3 {
      @include gradient(#f1ec5a, #f7941d);
}

.page-section#program5 {
      @include gradient(#009ddc, #b4d455);
}

.page-section#program7 {
      @include gradient(#009091, #917dae);
}

.page-section#kandidati {
      @include gradient(#009ddc, #917dae);
}

.page-section#program2 h2,.page-section#program4 h2,.page-section#program6 h2 {
      color:black;
}

.btn {
	font-weight: 200;
}
.btn-dark {
	background: #444;
	color: #fff;
}
.btn-dark:hover {
	background: #000;
	color: #fff;
}
.back-to-top {
	display: inline-block;
	clear: both;
	background: #fff;
	color: #333;
	padding: 0 10px 5px;
	margin: 20px 0 0;
	text-shadow: none;
}
.back-to-top:hover {
	background: #333;
	color: #fff;
	text-decoration: none;
}
hr {border-color: #ddd;}

/* CHANGES TO DEFAULT BOOTSTRAP */
.navbar-brand>img {height:30px;}
.navbar-brand {padding: 8px 15px;}
.navbar-inverse .navbar-nav>li>a {color:white;font-weight:bold;}


@media (min-width: 768px) {
	.header .navbar-brand {
		padding-left: 0;
	}
	.navbar-nav {
		float: right;
	}
   .navbar-nav>li {padding-left:40px;}
}
@media (max-width: 480px) {
	.page-section h1 {
		font-size: 3em;
	}
	.page-section h2 {
		font-size: 2em;
	}
	.page-section p {
		font-size: 1em;
		margin: 0 0 20px;
	}
  .programovy-bod {
      float:none !important;
      width:100%;
}

.slide {
	min-height: 216px; padding: 41px 0 67px 0;
}
}

.programovy-bod {
  max-width:300px;
  float:right;
  margin-left:10px;
  margin-bottom:10px;
}

img {
	border-radius: 3px;
	max-width: 100%;
}

/* stránka s kampaní */

.personal-label {
  width:350px;
  display:inline-block;
  vertical-align:top;
  margin-right:10px;
  margin-bottom:10px;
}



.personal-label img, .platformy img {
  width:100px;
  float:left;
  margin-right:15px;
  margin-bottom:15px;
}

.personal-label li {
  list-style-position:inside;
}

/* stránka s kandidáty */

.kandidati {
overflow: hidden;
}

.kandidat {
  width:350px;
  display:block;
  vertical-align:top;
  margin-left:10px;
  margin-bottom:0px;
}

.name {
  font-weight: bold;
}

#accordion p { padding:10px;}

.slide {
	min-height: 216px; padding: 41px 0 67px 0;
}
