---
layout: default
title: Program
---


<div class="panel-group" id="accordion">

{% for bod in site.data.program %}

        <div class="panel panel-default">
            <div class="panel-heading">

    {% if bod.number %}
	   <h2 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.index }}">{% if bod.number %}{{ bod.number }}. {% endif %}{{ bod.title }}</a></h2>
      {% else %}
	   <h1 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.index }}">{% if bod.number %}{{ bod.number }}. {% endif %}{{ bod.title }}</a></h1>
      {% endif %}
            </div>
            <div id="collapse{{ forloop.index }}" class="panel-collapse collapse{% if forloop.index == 1 %} in{% endif %}">
                <div class="panel-body">
      <img src="{{ bod.image }}" class="programovy-bod img-thumbnail" title="{{ bod.title }}">         
                    <p class="bg-danger">{{ bod.contra }}</p>
                    <p class="bg-success">{{ bod.pro }}</p>
                </div>
            </div>
        </div>
{% endfor %}
</div>
